<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='utf-8' />
<meta name='author' content='{{ author.name }}' />
{%- if page and page.tags %}
<meta name='keywords' content='{{ page.tags | join(",")}}' />
{%- endif %}
<meta name='viewport' content='width=device-width, initial-scale=1' />
<link rel='alternate' title='JSON Feed' type='application/json' href='/feed.json' />
<link rel='alternate' title='Atom Feed' type='application/atom+xml' href='/feed.atom' />
<link rel='stylesheet' type='text/css' href='/two.css' />
<title>{{ page and page.title or title }}</title>
</head>

<body>
<div id='container'>
{% if page %}
<div id='content'>
{{ page.content_html }}
<p class='date'>Written by {{ page.author and page.author.name or author.name }} on {{ page._display_date_modified }}</p>
</div>
{% endif %}

<div id='{{ page and "nav" or "index" }}'>
<a href='/'>robru.ca</a>
<a href='/RobertPark.html'>résumé</a>
{% for tag in items_by_tag %}
<h1>{{ tag }}</h1>
{% for item in items_by_tag[tag] | sort(attribute="date_published", reverse=True) %}
<div class='item'>
<h2><a href='{{ item.url }}'>{{ item.title }}</a></h2>
{%- if not page %}
<p>{{ item.summary }}</p>
{%- endif %}
</div>
{% endfor %}
{% endfor %}
<div class='item'>
<h1>Feeds</h1>
<a href='/feed.json'>JSON</a>
<a href='/feed.atom'>Atom</a>
</div>
</div>
</div>
</body>
</html>
