/* universal settings */
body {
    background: white;
    color: black;
    font-family: Georgia, Times, serif;
    padding: 2em;
    text-align: center;
}

#container, #body, p, pre {
    margin: 0;
    padding: 0;
}

#contact, #body, p, ul, li, h2 {
    text-align: left;
}

h1, h2 {
    margin: 0 0 1em 0;
    padding: 0;
    white-space: nowrap;
}

#contact {
    margin: 0;
    padding: 0 1em 1em 0;
}

#contact * {
    display: block;
}

img {
    border: 2px solid black;
}

a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: red;
}

a:hover {
    text-decoration: underline;
}

.entry {
    margin: 1em 1em 2em 1em;
}

.entry a {
    font-size: x-large;
}

.subentry {
    padding: 0 1em;
    margin: 0 1em;
}

.subentry a {
    font-size: medium;
}

p {
    margin: 0.2em 0;
}

ul {
    list-style-type: disc;
    margin: 0 0 1em 0;
}

/* two column */
@media only screen and (min-width: 800px) {
    #contact {
        display: inline-block;
        vertical-align: top;
    }
    #body {
        display: inline-block;
        vertical-align: top;
    }
    .page {
        max-width: 500px;
    }
}

/* three column */
@media only screen and (min-width: 1400px) {
    .page {
        display: inline-block;
        vertical-align: top;
    }
}

/* PDF settings */
@media print {
    #contact {
        float: right;
        padding-left: 5em;
    }
    #contact, #body, .page {
        display: block;
        font-size: 13pt;
    }
    .page {
        padding-top: 2em;
    }
    .page:not(:last-child) {
        page-break-after: always;
    }
}
