html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #333;
    width: 100%;
}

#container {
    margin: 0;
    width: 100%;
}

#content, #nav, #index {
    text-align: left;
    margin: 2em auto;
    padding: 1em;
    color: black;
    border: 2px solid black;
    width: 90%;
}

#content {
    background-color: white;
}

#content h2, #content h3 {
    margin-top: 1em;
}

#index {
    background-color: white;
}

#index h1 {
    margin-top: 1em;
}

#index a, #nav a {
    display: inline-block;
    font-weight: bold;
}

#index a {
    font-size: x-large;
    padding: 0.3em;
}

#index p {
    margin: 0 2em;
}

#nav {
    background-color: #eee;
}

#nav h1, #nav h2 {
    font-size: medium;
    margin: 0.3em 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: justify;
    margin: 0.5em 0;
}

p.image {
    text-align: center;
    font-size: small;
    font-style: italic;
    margin: 1em 0;
}

img {
    border: 2px solid black;
    display: block;
    margin: 0 auto;
    max-height: 500px;
    max-width: 100%;
    transition: all 1s ease-in-out;
    background-color: white;
}

img:hover {
    border-width: 10px;
    transform: scale(1.5);
}

pre {
    margin: 1em auto;
    overflow: auto;
    width: 90%;
}

code {
    background-color: #eee;
    border-radius: 4px;
    display: inline-block;
    padding: 3px;
}

.date {
    text-align: right;
    font-size: small;
}

@media only screen and (min-width: 900px) {
    #content, #nav, #index {
        display: inline-block;
        vertical-align: top;
    }
    #content {
        width: 600px;
    }
    #nav {
        width: 200px;
    }
    #index {
        width: 400px;
    }
}
